{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="entry-content">
    <p>Our instructors are Certified:</p>
    <p> <img class="alignleft size-full wp-image-687" style="font-family: 'Open Sans', sans-serif; font-size: 15px; line-height: 24.2999992370605px; font-style: normal; font-variant: normal;" alt="SPCLogo" src={% static "SPCLogo.png" %} width="150" height="56" />
        <img class="alignleft" alt="PMI-ACP-Logo" src={% static "PMI-ACP-Logo.png" %} width="130" height="91" />
        <img class="alignleft" alt="Scrum_Professional_Seal" src={% static "Scrum_Professional_Seal.jpg" %} width="98" height="98" />
        <img class="alignleft" alt="ScrumMaster_Logo_Seal" src={% static "ScrumMaster_Logo_Seal.jpg" %} width="93" height="93" />
        <img class="alignleft  wp-image-688" alt="innovation_games" src={% static "innovation_games.png" %} width="237" height="43" /></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>CareerClick is a Leadership and Professional Development training, consulting and coaching organization started by Silicon Valley professionals with a mission to provide continuous education to project managers, program managers, portfolio managers, product managers and business analysts irrespective of the stream of business. We have a deep commitment and passion for evangelizing excellence in Project Management as a core leadership competency.</p>
    <p>Unlike other Agile training providers, Our training offers interactive, participatory and pragmatic case study oriented approach. We are certain that our approach to experience based leadership training fills this gap.</p>
    <p>We believe in SMART results delivering Specific, Measurable, Articulate, Reasonable and Timely coaching needs. Our well structured and full of real life experience oriented training programs are designed to impart the best knowledge, improve competencies and performance and meet or exceed your expectations.</p>
    <p>Our Business Values reflect the ethics, goals and standards that we practice in every facet of our business, every day. With vigilance and individual commitment, we</p>
    <ul>
        <li>Promote a customer-oriented training environment</li>
        <li>Laser focus on industry best practices</li>
        <li>Work to sustain the highest quality reputation</li>
    </ul>
    <p>&nbsp;</p>
    <div class="clear"></div>
</div><!-- .entry-content -->
</div><!-- .entry -->
{% endblock %}